html {
  scroll-behavior: smooth;
}


@media (max-width: 768px) {
  .section h2 {
    font-size: 1.5rem; 
  }

  .section p {
    font-size: 1rem;
  }

  .d-flex {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .lead_font {
    font-size: 1rem;
  }
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px); /* Hafif aşağıdan başlayarak */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Normal konumuna */
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* Başlangıç pozisyonu */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0); /* Normal konumuna gelir */
}




.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  

.lead_font{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}
  
.question
{
color: #b5ac6c;
font-size: 300px;
}

  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.no-padding-container {
  padding-right: 0;
  padding-left: 0;
}

.cv_header
{
  font-size: 35px;
}


